<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Jewellers_Blog::content_elements"
             title="Jewellers Blog"
             translate="title"
             module="Jewellers_Blog"
             sortOrder="10"
             parent="Magento_Backend::content"
             resource="Magento_Backend::admin"/>
        <add id="Jewellers_Blog::post"
             title="Manage Posts"
             translate="title"
             module="Jewellers_Blog"
             sortOrder="0"
             parent="Jewellers_Blog::content_elements"
             action="jewellers_blog/post"
             resource="Magento_Backend::admin"/>
    </menu>
</config>
